@import 'variables.scss';

header {
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 2;
    
    top: 0;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            @include vertical-centre($header-height);

            text-decoration: none;
            color: $font-colour;
            width: 100%;
            box-sizing: border-box;
            padding: 0 25px;
            cursor: pointer;
            width: 100%;
            transition: background-color 150ms linear, transform 150ms linear;
        }
    }

    &.with-backdrop {
        background-color: $translucent-colour;

        a:hover {
            background-color: rgba(100, 100, 100, 0.35);
        }
    }

    &.no-backdrop {
        background-color: #333;

        a:hover {
            background-color: #222;
        }
    }
}