@import 'variables.scss';

header {
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 2;
    
    top: 0;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            @include vertical-centre($header-height);

            text-decoration: none;
            color: $font-colour;
            width: 100%;
            box-sizing: border-box;
            padding: 0 25px;
            cursor: pointer;
            transition: background-color 150ms linear, transform 150ms linear;
            font-size: 1.125em;
            text-transform: uppercase;
        }
    }

    &.with-backdrop {
        background-color: $translucent-colour;
    }

    &.no-backdrop {
        background-color: #333;
    }

    .selector {
        $movies-width: 57px;
        $kid-movies-width: 100px;
        $shows-width: 79px;
        $kid-shows-width: 122px;
        $padding: 25px;

        position: absolute;
        z-index: 1;
        height: 3px;
        background-color: $base-colour;
        top: 52px;
        width: 180px;
        transition: width $transition-duration ease-out, transform $transition-duration ease-out;

        &.movies {
            width: $movies-width;
            transform: translateX($padding);
        }

        &.kid-movies {
            width: $kid-movies-width;
            transform: translateX($padding + $movies-width + $padding*2);
        }

        &.shows {
            width: $shows-width;
            transform: translateX($padding + $movies-width + $padding*2 + $kid-movies-width + $padding*2);
        }

        &.kid-shows {
            width: $kid-shows-width;
            transform: translateX($padding + $movies-width + $padding*2 + $kid-movies-width + $padding*2 + $shows-width + $padding*2);
        }
    }
}