@import 'variables.scss';

button.button {
    @include vertical-centre($form-height);

    background-color: $base-colour;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: $header-font;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 1.125em;
    cursor: pointer;
    transition: background-color $transition-duration/2 linear;

    &:active {
        background-color: darken($base-colour, 10%);
    }
}