@import 'variables.scss';
@import 'animations.scss';

body {
    padding: 0;
    margin: 0;
    font-family: $body-font;
    font-size: $font-size;
    background-color: $background-colour;
    color: $font-colour;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
    user-select: none;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: $font-size*2.4;
}

h2 {
    font-size: $font-size*2;
}

h3 {
    font-size: $font-size*1.6;
}

h4 {
    font-size: $font-size*1.2;
}

h5 {
    font-size: $font-size;
}

.clearfix {
    float: none;
    clear: both;
}

.view {
    width: 100%;
    margin-top: $header-height;
    padding: 25px;
}

.spacing-top {
    margin-top: 25px;
}

.spacing-top-small {
    margin-top: 15px;
}

.spacing-bottom {
    margin-bottom: 40px;
}

.spacing-bottom-small {
    margin-bottom: 20px;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.backdrop-shader {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    opacity: 0.7;
    pointer-events: none;
}

.page-loader {
    $size: 60px;

    position: absolute;
    top: calc(30% - #{$size/2});
    left: calc(50% - #{$size/2});
    width: $size;
    height: $size;
    border: solid 4px darken($base-colour, 25%);
    border-bottom-color: $base-colour;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 600ms;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #555;
}

.no-padding {
    padding: 0 !important;
}

.row-spacing {
    margin-top: $spacing;
}