$font-size: 18px;
$font-colour: white;

$body-font: 'Assistant';
$header-font: 'Oswald';
$button-font: 'Assistant';

$transition-duration: 150ms;

$background-colour: #222;
$base-colour: #0398fc;
$dark-base-colour: darken($base-colour, 15%);
$darker-base-colour: darken($base-colour, 25%);
$darkest-base-colour: darken($base-colour, 35%);
$hover-colour: darken($base-colour, 12%);
$translucent-colour: rgba(100, 100, 100, 0.3);
$translucent-hover-colour: rgba(100, 100, 100, 0.5);

$header-height: 70px;
$sidebar-width: 240px;

$spacing: 25px;
$spacing-small: 15px;

@mixin vertical-centre($height) {
    display: inline-block;
    height: $height;
    line-height: $height;
    vertical-align: middle;
}

@mixin transparent() {
    background-color: $translucent-colour;
    transition: background-color 150ms linear, transform 150ms linear;

    &:hover {
        background-color: $translucent-hover-colour;
    }
}